<?xml version="1.0" encoding="UTF-8"?>
<!--XSD Purpose:Validating||parsing the tags.  -->
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
    https://www.springframework.org/schema/beans/spring-beans.xsd">
<!-- Bean(s) Configuration -->
<bean id="helloBean" class="com.get_tt_right.beans.HelloBean">
  <!-- Properties configuration||setting -->
  <property name="name" value="TMI"></property>
</bean>

</beans>